/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #f5f9ff;
    color: #333;
}

/* HEADER */
header {
    width: 100%;
    background: white;
    padding: 15px 20px;
    box-shadow: 0 2px 8px #00000015;
    position: fixed;
    top: 0;
    z-index: 20;
}

.container-flex {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MENU DESKTOP */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

nav a:hover {
    color: #38761d;
}

/* BOTÃO MOBILE */
.menu-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-btn div {
    width: 28px;
    height: 3px;
    background: #333;
    transition: 0.3s;
}

/* ANIMAÇÃO X */
.menu-btn.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu-btn.open div:nth-child(2) {
    opacity: 0;
}
.menu-btn.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* MOBILE CONFIG */
@media (max-width: 860px) {
    nav {
        position: absolute;
        top: 75px;
        right: 0;
        background: white;
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 4px 8px #00000015;
    }

    nav.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }
}

/* SECTION BASE */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 130px 20px 60px;
}

/* IMAGEM SOBRE REDUZIDA */
.img-menor {
    width: 290px;
    border-radius: 12px;
    max-width: 90%;
    display: block;
    margin: auto;
}